In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from collections import Counter

In [2]:
data = pd.read_csv("car_evaluation.csv")
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
data.shape

(1728, 7)

In [4]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [5]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [6]:
X = data.iloc[:, :-1]
y = data.outcome

In [7]:
X.head(3)

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high

In [8]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=10)

In [16]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [17]:
y_predict = model.predict(X_test)

In [18]:
accuracy_score(y_test, y_predict)

0.9421296296296297

In [19]:
print(Counter(y_test))

Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

In [20]:
pd.crosstab(y_test, y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12